<%- include('./layouts/header.ejs') %>
<head>
    <link rel="stylesheet" href="/css/about.css">
    <!-- Add your other stylesheets and meta tags here -->
</head>
<body>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Who We Are</h4>
                <p class="card-text">
                    Welcome to your go-to platform for effortless and powerful blogging.
                    We are a dedicated team passionate about providing an exceptional blogging experience for individuals and businesses alike.
                </p>
              </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Our Mission</h4>
                <p class="card-text">
                    Our mission is to make blogging accessible and enjoyable. We believe in the power of storytelling and aim to empower
                    our users to share their unique voices with the world.
                </p>
              </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">What Sets Us Apart</h4>
                <ul>
                    <li>Intuitive Interface</li>
                    <li>Powerful Features</li>
                    <li>Seamless Collaboration</li>
                    <li>Responsive Design</li>
                    <!-- Add more features as needed -->
                </ul>
              </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Our Commitment</h4>
                <ul>
                    <li>User Privacy</li>
                    <li>Continuous Improvement</li>
                    <!-- Add more commitments as needed -->
                </ul>
              </div>
            </div>
        </div>
    </div>

    <!-- Add your scripts and other assets here -->
</body>
<%- include('./layouts/footer.ejs') %>